[build]
  publish = "."
  functions = "netlify/functions"

# Disable secrets scanning entirely
[build.environment]
  SECRETS_SCAN_ENABLED = "false"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
